body{
	background-color: gray;
	padding: 1em;
}

div{
	background-color: white;
	width: 85%;
	float: center;
	margin: auto;
}

div nav{
	float: right;
	background-color: #911b2d;
	font-size: 30px;
	color: white;
}
a{
	text-decoration: none;
	color: white;
}

div form button{
	background-color: #911b2d;
	color: white;
	width: 100px;
	height: 75px;
}

div article header{
	font-size: 30px;
	color: white;
	background-color: blue;
	height: 110px;
}

div article footer{
	color: white;
	background-color: blue;
	height: 50px;
}